/*
===================================
|| Fonts                          |
===================================
*/
/* Nunito */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* 
===================================
|| Variables                      |
===================================
*/

:root {
  /* BORDERS */
  --BORDER--PRIMARY: 1rem solid rgba(255, 255, 255, 03);
  /* BORDER RADIUS */
  --RADIUS: 0.5rem;

  /* COLORS */
  /* dark shades of primary color*/
  --CLR-PRIMARY-1: 24, 22%, 5%;
  --CLR-PRIMARY-1-c: hsl(24, 22%, 5%);
  --CLR-PRIMARY-2: 27, 19%, 11%;
  --CLR-PRIMARY-2-c: hsl(27, 19%, 11%);
  --CLR-PRIMARY-3: 23, 19%, 17%;
  --CLR-PRIMARY-3-c: hsl(23, 19%, 17%);
  --CLR-PRIMARY-4: 27, 20%, 20%;
  --CLR-PRIMARY-4-c: hsl(27, 20%, 20%);
  /* primary/main color */
  --CLR-PRIMARY-5: 25, 19%, 22%;
  --CLR-PRIMARY-5-c: hsl(25, 19%, 22%);
  /* lighter shades of primary color */
  --CLR-PRIMARY-6: 24, 13%, 30%;
  --CLR-PRIMARY-6-c: hsl(24, 13%, 30%);
  --CLR-PRIMARY-7: 25, 8%, 42%;
  --CLR-PRIMARY-7-c: hsl(25, 8%, 42%);
  --CLR-PRIMARY-8: 26, 6%, 49%;
  --CLR-PRIMARY-8-c: hsl(26, 6%, 49%);
  --CLR-PRIMARY-9: 24, 6%, 65%;
  --CLR-PRIMARY-9-c: hsl(24, 6%, 65%);
  --CLR-PRIMARY-10: 24, 6%, 85%;
  --CLR-PRIMARY-10-c: hsl(24, 6%, 85%);

  --CLR-GRAY-1: hsl(0, 0%, 9%);
  --CLR-GRAY-5: hsl(209, 61%, 16%);
  --CLR-GRAY-10: hsl(209, 22%, 49%);
  --CLR-GRAY-15: hsl(0, 0%, 91%);
  --CLR-GRAY-20: hsl(206, 33%, 96%);

  --CLR-WHITE: #fff;
  --CLR-BLACK: #000;

  /* FONTS */
  --FF-PRIMARY: "Nunito", sans-serif;
  --FS-PRIMARY: 62.5%;
  /* --FS-PRIMARY: clamp(60%, 5.5vw, 62.5%); */
  /* --FS-PRIMARY-FALLBACK: clamp(50%, 1.5dvw, 62.5%); */

  /* LETTER SPACING */
  --LETTER-SPACING: 0.125em;

  /* MARGINS */

  /* PADDING */

  /* SHADOWS */
  --LIGHT-SHADOW: 0 5px 15px rgba(0, 0, 0, 0.1);
  --DARK-SHADOW: 0 5px 15px rgba(0, 0, 0, 0.2);

  /* TRANSITIONS */

  --TRANSITION: all 0.3s linear;
}
/* 
===================================
|| BASIC RESET                    |
===================================
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: var(--FS-PRIMARY);
  scroll-behavior: smooth;
  /* font-size: var(--FS-PRIMARY-FALLBACK); */
  scroll-padding-block-start: 1rem;
}
/* main scroll bar */
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background-color: hsl(var(--CLR-PRIMARY-10));
}
html::-webkit-scrollbar-thumb {
  background-color: hsl(var(--CLR-PRIMARY-1));
}

/* default body start */
body {
  font-family: var(--FF-PRIMARY);
  background: var(--CLR-WHITE);
  background-color: hsl(var(--CLR-PRIMARY-2));
  background-color: hsl(var(--CLR-PRIMARY-1));
  /* background-image: repeating-linear-gradient(
    135deg,
    hsla(var(--CLR-PRIMARY-3)) 5px,
    #000 8px
  ); */
  color: var(--CLR-GREY-1);
  color: hsl(var(--CLR-PRIMARY-10));
  line-height: 1.5;
  /* font-size: 0.875rem; */
}
/* default input style style  */
input,
textarea,
select,
button {
  font: inherit;
}
/* default media style */
img,
audio,
picture,
video {
  max-width: 100%;
  display: block;
}
svg {
  /* display: block; */
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* default list styls */
ul,
ol,
menu {
  list-style-type: none;
}
/* default anchor link */
a {
  text-decoration: none;
}
/* default heading styles */
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  letter-spacing: var(--LETTER-SPACING);
  font-weight: 700;
  line-height: 1.1;
  margin-block-end: 0.3em;
}
h1 {
  font-size: clamp(3.2rem, 5.5vw, 5rem);
  font-size: clamp(3.2rem, 5.5dvw, 5rem);
}
h2 {
  font-size: clamp(2.6rem, 3.5vw, 3rem);
  font-size: clamp(2.6rem, 3.5dvw, 3rem);
  letter-spacing: 0.05em;
}
h3 {
  font-size: clamp(1.8rem, 3vw, 2.4rem);
  font-size: clamp(1.8rem, 3dvw, 2.4rem);
}
h4 {
  font-size: clamp(2rem, 5vw, 2.8rem);
  font-size: clamp(2rem, 5dvw, 2.8rem);
  margin-block-end: 0.7em;
}
@media screen and (min-width: 48em) {
  h4 {
    font-size: clamp(1.4rem, 5vw, 1.6rem);
    font-size: clamp(1.4rem, 5dvw, 1.6rem);
  }
}
p {
  margin-bottom: 1.25em;
  /* color: var(--CLR-GREY-5); */
}

/* 
===================================
|| ANIMATIONS                      |
===================================
*/

/* @keyframes hero__animation {
  30% {
    transform: scale(1.05) translate(-10%, -5%);
  }

  70% {
    transform: scale(0.8) translate(10%, 5%);
  }
} */

/* 
===================================
|| UTILITIES                      |
===================================
*/
.d-none {
  display: none;
}
.container {
  max-width: min(90%, 130rem);
  margin-inline: auto;
}
.container--background {
  background-image: repeating-linear-gradient(
    135deg,
    hsla(var(--CLR-PRIMARY-3)) 5px,
    #000 8px
  );
}
.section--background {
  background-image: repeating-linear-gradient(
    135deg,
    hsla(var(--CLR-PRIMARY-3)) 5px,
    #000 8px
  );
}
/*  */

.section {
  margin-block: 6.4rem;
  /* background-color: hsl(var(--CLR-PRIMARY-2)); */

  /* padding-block: 3rem; */
}
/* .section__header { */
/* } */
.section__heading {
  text-align: center;
  color: hsl(var(--CLR-PRIMARY-10));
  text-shadow: 2px 2px 2px hsl(var(--CLR-PRIMARY-8));
  margin-bottom: 0;
  padding-block: 0 4.8rem;
  text-transform: uppercase;
}
.heading--accent {
  color: #f59e0b;
}

/* default btn styles */
.btn,
.btn:any-link {
  display: inline-block;
  font-size: 1.6rem;
  padding: 0.8em 1.4em;
  font-weight: 600;
  background-image: linear-gradient(
    145deg,
    hsl(var(--CLR-PRIMARY-3)) 50%,
    var(--CLR-WHITE) 50%
  );
  background-size: 350%;
  color: hsl(var(--CLR-PRIMARY-10));
  text-transform: capitalize;
  border-radius: 4px;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.442);
  border: 2px solid hsl(var(--CLR-PRIMARY-9));
  transition: all 0.3s;
}
/* btn hero style */
.btn:hover,
.btn:focus,
.btn:active {
  background-position: right 70%;
  color: hsl(var(--CLR-PRIMARY-1));
}

main {
  margin-top: 7rem;
}

/* carousel */
.carousel {
  position: relative;
}
.carousel__items {
  /* padding-inline: 4rem;
  display: grid;
  gap: 7rem;
  grid-auto-columns: calc((100% / 4) - 5rem);
  grid-auto-flow: column; */

  /* border: 2px solid white; */
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  /* overflow: hidden; */
}
.carousel__item {
  /* width: 25rem; */
  /* height: 30rem; */
}
.carousel__item__footer {
  /* display: grid; */
  /* place-content: center; */
}
.carousel__item-btn {
  padding: 0.4em 0.8em;
  margin-block: 2rem;
  font-size: 1.4rem;
}
/* .embla {
  --slide-height: 19rem;
  --slide-spacing: 2rem;
  --slide-size: 100%;
}
@media screen and (min-width: 37.5em) {
  .embla {
    --slide-height: 19rem;
    --slide-spacing: 0rem;
    --slide-size: 50%;
  }
}
@media screen and (min-width: 48em) {
  .embla {
    --slide-height: 19rem;
    --slide-spacing: 0rem;
    --slide-size: 33.33333%;
  }
}
@media screen and (min-width: 67em) {
  .embla {
    --slide-height: 19rem;
    --slide-spacing: 0rem;
    --slide-size: 25%;
  }
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
}

.embla__button--prev {
}

.embla__controls {
  display: grid;
  display: flex;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  display: flex;
  margin-inline: auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);

  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button {
  background-color: hsla(var(--CLR-PRIMARY-10), 0.7);
  width: auto;
  height: auto;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  display: grid;
  place-content: center;
  transition: var(--TRANSITION);
}
.embla__button:hover {
  background-color: hsla(var(--CLR-PRIMARY-10), 0.8);
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 2.5rem;
  height: 2.5rem;
  color: hsl(var(--CLR-PRIMARY-3));
} */

.carousel {
  position: relative;
  padding-block-end: 6rem;
}
.carousel__controls {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.carousel__controls [class^="carousel__button"] {
  /* fill: hsl(var(--CLR-PRIMARY-2)); */
  background-color: hsl(var(--CLR-PRIMARY-10), 0.8);
  padding: 0.2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--TRANSITION);
  border: none;
}
.carousel__controls [class^="carousel__button"]:hover {
  /* fill: hsl(var(--CLR-PRIMARY-2)); */
  background-color: hsl(var(--CLR-PRIMARY-10), 0.7);
  cursor: pointer;
}
.carousel__controls [class^="carousel__button"] svg {
  width: 2.5rem;
  height: 2.5rem;
}
/* ------------------------ */

.ratings {
  margin-block-start: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.ratings__stars {
  display: flex;
}
.ratings__star {
  width: 2.5rem;
  height: 2.5rem;
}
.ratings__star svg {
  fill: #f59e0b;
}
.ratings__details {
  font-size: 1.6rem;
  font-weight: 500;
  color: hsla(var(--CLR-PRIMARY-10));
}
/* 
===================================
|| HEADER/NAVBAR                  |
===================================
*/
/* header element */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 7rem;
  z-index: 9999;
}
/* navbar */
.navbar {
  position: relative;
  z-index: 9999;
  height: 7rem;
  background-color: hsl(var(--CLR-PRIMARY-1));
  box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.5);
}
/* nav__container */
.navbar__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 62rem) {
  .navbar__logo-container {
    display: inline-block;
    width: 15rem;
  }
}
/* nav logo link */
.navbar__brand-logo,
.navbar__brand-logo:any-link {
  display: flex;
  height: 4.5rem;
  width: 4.5rem;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transition: var(--TRANSITION);
  position: relative;
  flex-shrink: 0;
  z-index: 9999;
}

/* nav logo link hover, active, focus style */
.navbar__brand-logo:hover,
.navbar__brand-logo:focus,
.navbar__brand-logo:active {
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.7);
  transform: scale(1.1);
} /* nav logo img */
.navbar__logo {
  height: 100%;
}
/* mobile site navigation list  style */
.navbar__list {
  position: fixed;
  left: 100%;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: clamp(1.4rem, 1vw, 1.8rem);
  gap: clamp(0.8rem, 1.2vw, 1.8rem);
  gap: clamp(0.8rem, 1.2dvw, 1.8rem);
  transition: 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
/* open mobile nav list style */
.navbar__open .navbar__list {
  left: 0;
}
/* individual mobile nav link style  */
.navbar__link,
.navbar__link:any-link {
  text-transform: capitalize;
  color: hsl(var(--CLR-PRIMARY-10));
  background-image: linear-gradient(
    145deg,
    transparent 50%,
    hsl(var(--CLR-PRIMARY-10)) 50%
  );
  background-size: 300%;
  transition: var(--TRANSITION);
  padding: 0.25em 0.9em;
  transition-duration: 0.2s;
}
/* individual mobile nav link style hover, active, focus  */
.navbar__link:hover,
.navbar__link:active,
.navbar__link:focus {
  color: hsl(var(--CLR-PRIMARY-1));
  background-position: right;
  font-weight: 600;
}
@media screen and (min-width: 48em) {
  /* large screen site navigation list  style */
  .navbar__list {
    position: static;
    display: flex;
    flex-direction: row;
    height: auto;
  }
  /* large screen individual  nav link style  */
  .navbar__link,
  .navbar__link:any-link {
    background-image: none;
    font-size: clamp(1.6rem, 1.8vw, 1.8rem);
    font-size: clamp(1.6rem, 1.8dvw, 1.8rem);
    font-weight: 600;
    padding: 0.25em 0.5em;
  }
  /* large screen individual  nav link style hover, active, focus  */
  .navbar__link:hover,
  .navbar__link:active,
  .navbar__link:focus {
    color: hsl(var(--CLR-PRIMARY-9));
  }
}
/* user navigation like cart profile search container */
.navbar__user-action {
  display: flex;
  gap: 1.8rem;
  align-items: center;
}
@media screen and (min-width: 48em) {
  /* large screen user navigation like cart profile search container */
  .navbar__user-action {
    display: flex;
    gap: clamp(1rem, 1.8vw, 3.8rem);
    gap: clamp(1rem, 1.8dvw, 3.8rem);
    align-items: center;
  }
}

/* user navigation like cart profile search icon container */
.navbar__search-btn,
.navbar__cart-icon-container,
.navbar__profile-icon-container {
  display: inline-block;
}
/* mobile user navigation like cart profile search icon  */
.navbar__search-btn svg,
.navbar__cart-icon-container svg,
.navbar__profile-icon-container svg {
  width: 3.2rem;
  height: 3.2rem;
  transition: var(--TRANSITION);
  transition-duration: 0.2s;
}
@media screen and (min-width: 48em) {
  /* large screen user navigation like cart profile search icon  */
  .navbar__search-btn svg,
  .navbar__cart-icon-container svg,
  .user__profile__icon svg {
    width: clamp(2.8rem, 2.5vw, 3.2rem);
    height: clamp(2.8rem, 2.5vw, 3.2rem);
  }
}
/* user navigation like cart profile search icon container hover, focus, active style */
.navbar__search-btn:hover svg,
.navbar__cart-icon-container:hover svg,
.user__profile__icon:hover svg {
  transform: scale(1.2);
  fill: hsl(var(--CLR-PRIMARY-9));
}

/* mobile site menu toggle container */
.toggle__menu {
  border: none;
  width: 4.4rem;
  height: 4.4rem;
  background-color: transparent;
}

@media screen and (min-width: 48em) {
  /* large screen site menu toggle container */
  .toggle__menu {
    display: none;
  }
}
/* toggle btn icon container */
.menu__icon {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* toggle btn icon  */
.menu__icon > div,
.menu__icon::after,
.menu__icon::before {
  content: "";
  width: 80%;
  height: 4px;
  background-color: hsl(var(--CLR-PRIMARY-10));
  border-radius: 3px;
  transition: var(--TRANSITION);
  transition-duration: 0.2s;
}

.menu__icon::after,
.menu__icon::before {
  position: absolute;
}
.menu__icon::after {
  top: 22%;
}
.menu__icon::before {
  bottom: 22%;
}

/* toggle btn icon hover  */
.menu__icon:hover > div,
.menu__icon:hover::after,
.menu__icon:hover::before {
  background-color: var(--CLR-WHITE);
}
.menu__icon:hover::after {
  top: 18%;
}
.menu__icon:hover::before {
  bottom: 18%;
}
/* nav bar open menu icon start here */
.navbar__open .menu__icon > div {
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
.navbar__open .menu__icon::after {
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}
.navbar__open .menu__icon::before {
  bottom: 50%;
  transform: translateY(50%) rotate(-135deg);
}

.navbar__open .menu__icon:hover > div,
.navbar__open .menu__icon:hover::after,
.navbar__open .menu__icon:hover::before {
  background-color: red;
}

/* site search dropdown btn */
.navbar__search-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
/* user nav icon */
.navbar__search-icon,
.navbar__profile-icon,
.navbar__cart-icon {
  fill: hsl(var(--CLR-PRIMARY-10));
}
/* search dropdown dropdown */
.navbar__search-dropdown-container {
  position: relative;
}

/* search dropdown */
.navbar__search-dropdown {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: var(--TRANSITION);
  height: 3.5rem;
  border-radius: 4px;
  overflow: hidden;
}
/* search field */
.navbar__search-field {
  width: 0;
  height: 100%;
  border: none;
  opacity: 0;
  pointer-events: none;
  outline: none;
  font-size: 1.4rem;
}
/* search action submit btn */
.navbar__search-submit-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0.2em 0.4em;
  align-items: center;
  height: 100%;
  transition: var(--TRANSITION);
}
/* open search bar dropdown */
.navbar__search-open .navbar__search-dropdown {
  top: 6rem;
  opacity: 1;
  background-color: hsl(var(--CLR-PRIMARY-8));
  right: -15rem;
  pointer-events: all;
}
@media screen and (min-width: 37em) {
  .navbar__search-open .navbar__search-dropdown {
    right: 0rem;
  }
}
/* open search dropdown  */
.navbar__search-open .navbar__search-dropdown:focus-within {
  box-shadow: 0 0 0 4px hsl(var(--CLR-PRIMARY-6));
}
/* open search bar btn */
.navbar__search-open .navbar__search-btn {
  position: relative;
  top: 6rem;
  right: -15rem;
  opacity: 0;
  pointer-events: none;
}
@media screen and (min-width: 37em) {
  .navbar__search-open .navbar__search-btn {
    right: 0rem;
  }
}
/* open search bar search field */
.navbar__search-open .navbar__search-field {
  width: min(75vw, 25rem);
  width: min(75dvw, 25rem);
  border: black;
  opacity: 1;
  pointer-events: all;
  padding: 0.5em 0.6em;

  transition: var(--TRANSITION);
  transition-delay: 0.2s;
}
/* open search bar search action submit btn */
.navbar__search-open .navbar__search-submit-btn:hover {
  background-color: hsl(var(--CLR-PRIMARY-7));
}
/* closing search bar after opening it search btn */
.navbar__search-close .navbar__search-btn {
  top: 0;
  opacity: 1;
  right: 0;
  pointer-events: all;
  transition: var(--TRANSITION);
  transition-delay: 0.2s;
}
/* closing search bar after opening it search field */
.navbar__search-close .navbar__search-field {
  width: 0;
  transition-delay: 0s;
  border: none;
  padding: 0;
  opacity: 0;
}
/* closing search bar after opening it search dropdown */
.navbar__search-close .navbar__search-dropdown {
  transition-delay: 0.2s;
  top: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
}
/* dropdown / default drop / reusing this dropdown in user navigation dropdown */
.dropdown__container,
.navbar__search-dropdown__container {
  position: relative;
}
/* dropdown adding pointer to the dropdown  as this is not the part of the dropdown box */
.dropdown__container::after {
  content: "";
  position: absolute;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
  border: 1rem solid transparent;
  border-bottom-color: hsl(var(--CLR-PRIMARY-10));

  /* hiding */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--TRANSITION);
  transition-timing-function: ease-in-out;
  /* border-bottom: 48px solid black; */
}
/* dropdown pointer hover animation  */
.dropdown__container:hover::after {
  top: 5rem;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
/* actual hidden dropdown */
.dropdown {
  position: absolute;
  width: 15rem;
  background-color: rgba(255, 255, 255, 0.4);
  right: 0;
  top: 9rem;
  backdrop-filter: blur(10px);
  /* border: 2px solid var(--CLR-PRIMARY-10); */
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.6),
    0 4px 4px 4px hsl(var(--CLR-PRIMARY-8));
  border-radius: 2px;
  /* hiding */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--TRANSITION);
  transition-timing-function: ease-in-out;
}
@media screen and (min-width: 37em) {
  .dropdown {
    width: 20rem;
  }
}
/* dropdown overlay body so we can actually move to the dropdown without using hover */
.dropdown::before {
  content: "";
  height: 3.5rem;
  position: absolute;
  top: -4rem;
  left: 50%;
  transform: translateX(-50%);
  /* background-color: red; */
  background-color: transparent;
  opacity: 0;
  height: 140%;
  width: 120%;
  z-index: -1;
}
/* actual shown dropdown */
.dropdown__container:hover .dropdown {
  opacity: 1;
  visibility: visible;
  pointer-events: all;

  top: 7rem;
}
/* dropdown menu item */
.dropdown__menu {
  display: flex;
  flex-direction: column;
}
/* adding top border on all dropdown item but not on the first one */
.dropdown__menu
  .dropdown__item:not(.dropdown__menu .dropdown__item:first-child)
  .dropdown__link,
.dropdown__menu
  .dropdown__item:not(.dropdown__menu .dropdown__item:first-child)
  .dropdown__link:any-link {
  border-top: 2px solid var(--CLR-PRIMARY-6);
}

/* dropdown link  */
.dropdown__link,
.dropdown__link:any-link {
  letter-spacing: 0.025em;
  color: hsl(var(--CLR-PRIMARY-3));
  font-size: clamp(1.6rem, 2.5vw, 1.8rem);
  font-size: clamp(1.6rem, 2.5dvw, 1.8rem);
  font-weight: 700;
  display: block;
  padding-block: 0.3em;
  padding-inline-start: 1em;
}
/* dropdown link hover,focus,active  */
.dropdown__link:hover,
.dropdown__link:focus,
.dropdown__link:active {
  background-color: rgba(255, 255, 255, 0.3);
}

/* cart dropdown actual dropdown */

.navbar__cart-dropdown-container > .dropdown {
  /* width: 35rem; */
  width: min(90vw, 35rem);
  right: -10.5rem;
}

@media screen and (min-width: 37em) {
  .navbar__cart-dropdown-container > .dropdown {
    right: 0;
  }
}
/* .cart dropdown container */
.navbar__cart-dropdown-container {
  padding: 1em;
}
/* cart total items in cart */
.navbar__cart-total-items {
  /* width: 80%; */
  text-transform: capitalize;
  font-size: 1.6rem;
  margin-inline: auto;
  border-bottom: 2px solid rgba(0, 0, 0, 0.462);
  margin-block-end: 1rem;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.075em;
}
/* cart dropdown menu */
.navbar__cart {
  height: 25rem;
  /* height: 45rem; */
  overflow-y: auto;
}
/* adding bottom border to all menu item but not on the last one */
.navbar__cart-item-container:not(.navbar__cart-item-container:last-child)
  > .navbar__cart-item {
  border-bottom: 1px solid var(--CLR-PRIMARY-5);
}
/* cart dropdown item */
.navbar__cart-item {
  padding: 0.8em;
  position: relative;
  transition: var(--TRANSITION);
  cursor: pointer;
}

/* cart dropdown item hover */
.navbar__cart-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
/* cart dropdown item header */
.navbar__cart-item-header {
  display: flex;
  gap: 0.8rem;
}
/* cart dropdown item  img container*/
.navbar__cart-product-img-container {
  flex-shrink: 0;
}
/* cart dropdown img */
.navbar__cart-product-img {
  height: 5rem;
  width: auto;
  width: 5rem;
  object-fit: cover;
}
/* cart dropdown info */
.navbar__product-info {
  width: 100%;
  padding-block: 0.255em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* cart dropdown title */
.navbar__product-title {
  font-size: clamp(1.2rem, 5vw, 1.4rem);
  font-size: clamp(1.2rem, 5dvw, 1.4rem);
  letter-spacing: 0.07em;
}

/* cart dropdown item details */
.navbar__product-details {
  display: flex;
  font-size: clamp(1.2rem, 5vw, 1.4rem);
  font-size: clamp(1.2rem, 5dvw, 1.4rem);
  justify-content: space-between;
}
/* cart dropdown item remove cart item btn */
.navbar__remove-cart-item-btn {
  position: absolute;
  right: 0.025rem;
  top: 0.5rem;
  background-color: transparent;
  border: none;
}
/* cart dropdown item remove cart item icon */
.navbar__remove-cart-item-btn svg {
  width: 2rem;
  height: 2rem;
}
/* cart dropdown footer/ btn container */
.navbar__cart__btn__container {
  display: flex;
  gap: 1rem;
  padding-block-start: 0.5em;
  margin-block-start: 0.125em;
  border-top: 2px solid rgba(0, 0, 0, 0.462);
}
/* cart dropdown  btn  */
.cart__btn,
.cart__btn:any-link {
  box-shadow: none;
  flex-basis: 50%;
  text-align: center;
  padding-block: 0.4em;
}
/* mobile nav background overlay*/
.nav__background-overlay {
  position: fixed;
  right: 100%;
  top: 0;
  z-index: 5;
  background-image: linear-gradient(
    145deg,
    hsl(var(--CLR-PRIMARY-5)),
    hsl(var(--CLR-PRIMARY-8))
  );
  width: 100%;
  height: 100vh;
  pointer-events: none;
  transition: 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
/* open nav mobile nav background overlay*/
.navbar__open .nav__background-overlay {
  right: 0;
}

/*  */
.swiper-slide {
  /* width: 200px; */
  /* height: 200px; */
  /* background-color: red; */
}

.footer {
  border-top: 1px solid hsl(var(--CLR-PRIMARY-10), 0.5);
  padding-block: 3rem;
  font-size: 1.4rem;
}
.footer-link {
  color: hsl(var(--CLR-PRIMARY-10));
  transition: var(--TRANSITION);
}
.footer-link:is(:focus, :hover, :active) {
  color: hsl(var(--CLR-PRIMARY-10), 0.7);
}
.footer__container {
  display: grid;
  gap: 4rem;
  /* grid-template-columns: 30fr 17.5fr 17.5fr 17.5fr 17.5fr; */
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (min-width: 62em) {
  .footer__container {
    gap: 1rem;
    grid-template-columns: 30fr 17.5fr 17.5fr 17.5fr 17.5fr;
    text-align: center;
  }
}
.footer__copyright-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  grid-column: 1/3;
  margin-block-start: 0.2rem;
}
@media screen and (min-width: 62em) {
  .footer__copyright-wrapper {
    grid-column: auto;
  }
}
.footer__logo-wrapper {
  display: flex;
  justify-content: center;
}
.footer__logo-wrapper img {
  width: 20rem;
}
.footer__copyright-socials {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.footer__copyright-item__link svg {
  fill: hsla(var(--CLR-PRIMARY-10));
  width: 2.5rem;
  height: 2.5rem;
  transition: var(--TRANSITION);
}
.footer__copyright-item__link:hover svg {
  transform: scale(1.2);
}
.footer__copyright {
  text-align: center;
  width: 80%;
  margin-inline: auto;
  margin-block-start: auto;
}
.footer-heading {
  text-transform: uppercase;
  font-size: 2rem;
  font-family: 500;
}
.footer__contact-wrapper,
.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
