/*
===================================
|| Fonts                          |
===================================
*/
/* Nunito */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* 
===================================
|| Variables                      |
===================================
*/

:root {
  /* BORDERS */
  --BORDER--PRIMARY: 1rem solid rgba(255, 255, 255, 03);
  /* BORDER RADIUS */
  --RADIUS: 0.5rem;

  /* COLORS */
  /* dark shades of primary color*/
  --CLR-PRIMARY-1: 24, 22%, 5%;
  --CLR-PRIMARY-1-c: hsl(24, 22%, 5%);
  --CLR-PRIMARY-2: 27, 19%, 11%;
  --CLR-PRIMARY-2-c: hsl(27, 19%, 11%);
  --CLR-PRIMARY-3: 23, 19%, 17%;
  --CLR-PRIMARY-3-c: hsl(23, 19%, 17%);
  --CLR-PRIMARY-4: 27, 20%, 20%;
  --CLR-PRIMARY-4-c: hsl(27, 20%, 20%);
  /* primary/main color */
  --CLR-PRIMARY-5: 25, 19%, 22%;
  --CLR-PRIMARY-5-c: hsl(25, 19%, 22%);
  /* lighter shades of primary color */
  --CLR-PRIMARY-6: 24, 13%, 30%;
  --CLR-PRIMARY-6-c: hsl(24, 13%, 30%);
  --CLR-PRIMARY-7: 25, 8%, 42%;
  --CLR-PRIMARY-7-c: hsl(25, 8%, 42%);
  --CLR-PRIMARY-8: 26, 6%, 49%;
  --CLR-PRIMARY-8-c: hsl(26, 6%, 49%);
  --CLR-PRIMARY-9: 24, 6%, 65%;
  --CLR-PRIMARY-9-c: hsl(24, 6%, 65%);
  --CLR-PRIMARY-10: 24, 6%, 85%;
  --CLR-PRIMARY-10-c: hsl(24, 6%, 85%);

  --CLR-GRAY-1: hsl(0, 0%, 9%);
  --CLR-GRAY-5: hsl(209, 61%, 16%);
  --CLR-GRAY-10: hsl(209, 22%, 49%);
  --CLR-GRAY-15: hsl(0, 0%, 91%);
  --CLR-GRAY-20: hsl(206, 33%, 96%);

  --CLR-WHITE: #fff;

  /* FONTS */
  --FF-PRIMARY: "Nunito", sans-serif;
  --FS-PRIMARY: 62.5%;
  /* --FS-PRIMARY: clamp(60%, 5.5vw, 62.5%); */
  /* --FS-PRIMARY-FALLBACK: clamp(50%, 1.5dvw, 62.5%); */

  /* LETTER SPACING */
  --LETTER-SPACING: 0.125em;

  /* MARGINS */

  /* PADDING */

  /* SHADOWS */
  --LIGHT-SHADOW: 0 5px 15px rgba(0, 0, 0, 0.1);
  --DARK-SHADOW: 0 5px 15px rgba(0, 0, 0, 0.2);

  /* TRANSITIONS */

  --TRANSITION: all 0.3s linear;
}
/* 
===================================
|| BASIC RESET                    |
===================================
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: var(--FS-PRIMARY);
  scroll-behavior: smooth;
  /* font-size: var(--FS-PRIMARY-FALLBACK); */
  scroll-padding-block-start: 1rem;
}
/* main scroll bar */
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background-color: hsl(var(--CLR-PRIMARY-10));
}
html::-webkit-scrollbar-thumb {
  background-color: hsl(var(--CLR-PRIMARY-1));
}

/* default body start */
body {
  font-family: var(--FF-PRIMARY);
  background: var(--CLR-WHITE);
  color: var(--CLR-GREY-1);
  line-height: 1.5;
  /* font-size: 0.875rem; */
}
/* default input style style  */
input,
textarea,
select,
button {
  font: inherit;
}
/* default media style */
img,
audio,
picture,
video {
  max-width: 100%;
  display: block;
}
svg {
  /* display: block; */
}
img {
  width: 100%;
  display: block;
}
/* default list styls */
ul,
ol,
menu {
  list-style-type: none;
}
/* default anchor link */
a {
  text-decoration: none;
}
/* default heading styles */
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  letter-spacing: var(--LETTER-SPACING);
  font-weight: 700;
  line-height: 1.1;
  margin-block-end: 0.3em;
}
h1 {
  font-size: clamp(5.2rem, 5vw, 6.2rem);
  font-size: clamp(5.2rem, 5dvw, 6.2rem);
}
h2 {
  font-size: clamp(3.4rem, 5vw, 4.2rem);
  font-size: clamp(3.4rem, 5dvw, 4.2rem);
}
h3 {
  font-size: clamp(2.8rem, 5vw, 3.2rem);
  font-size: clamp(2.8rem, 5dvw, 3.2rem);
}
h4 {
  font-size: clamp(2rem, 5vw, 2.8rem);
  font-size: clamp(2rem, 5dvw, 2.8rem);
  margin-block-end: 0.7em;
}
@media screen and (min-width: 48em) {
  h4 {
    font-size: clamp(1.4rem, 5vw, 1.6rem);
    font-size: clamp(1.4rem, 5dvw, 1.6rem);
  }
}
p {
  margin-bottom: 1.25em;
  /* color: var(--CLR-GREY-5); */
}

/* 
===================================
|| ANIMATIONS                      |
===================================
*/

/* @keyframes hero__animation {
  30% {
    transform: scale(1.05) translate(-10%, -5%);
  }

  70% {
    transform: scale(0.8) translate(10%, 5%);
  }
} */

/* 
===================================
|| UTILITIES                      |
===================================
*/
.d-none {
  display: none;
}
.container {
  max-width: min(95%, 130rem);
  margin-inline: auto;
}
/* default btn styles */
.btn,
.btn:any-link {
  display: inline-block;
  font-size: 1.6rem;
  padding: 0.8em 1.4em;
  font-weight: 600;
  background-image: linear-gradient(
    145deg,
    hsl(var(--CLR-PRIMARY-3)) 50%,
    var(--CLR-WHITE) 50%
  );
  background-size: 350%;
  color: hsl(var(--CLR-PRIMARY-10));
  text-transform: capitalize;
  border-radius: 4px;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.442);
  border: 2px solid hsl(var(--CLR-PRIMARY-9));
  transition: all 0.3s;
}
/* btn hero style */
.btn:hover,
.btn:focus,
.btn:active {
  background-position: right 70%;
  color: hsl(var(--CLR-PRIMARY-1));
}

main {
  margin-top: 7rem;
}

/* 
===================================
|| HEADER/NAVBAR                  |
===================================
*/
/* header element */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 7rem;
}
/* navbar */
.navbar {
  position: relative;
  z-index: 9999;
  height: 7rem;
  background-color: hsl(var(--CLR-PRIMARY-1));
  box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.5);
}
/* nav__container */
.navbar__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* nav logo link */
.nav__brand__logo,
.nav__brand__logo:any-link {
  height: 4.5rem;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transition: var(--TRANSITION);
  position: relative;
  flex-shrink: 0;
  z-index: 9999;
}
/* nav logo img */
.nav__logo {
  height: 100%;
}
/* nav logo link hover, active, focus style */
.nav__brand__logo:hover,
.nav__brand__logo:focus,
.nav__brand__logo:active {
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.7);
  transform: scale(1.1);
}
/* mobile site navigation list  style */
.nav__list {
  position: fixed;
  left: 100%;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: clamp(1.4rem, 1vw, 1.8rem);
  gap: clamp(0.8rem, 1.2vw, 1.8rem);
  gap: clamp(0.8rem, 1.2dvw, 1.8rem);
  transition: 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
/* open mobile nav list style */
.nav__open .nav__list {
  left: 0;
}
/* individual mobile nav link style  */
.nav__link,
.nav__link:any-link {
  text-transform: capitalize;
  color: hsl(var(--CLR-PRIMARY-10));
  background-image: linear-gradient(
    145deg,
    transparent 50%,
    hsl(var(--CLR-PRIMARY-10)) 50%
  );
  background-size: 300%;
  transition: var(--TRANSITION);
  padding: 0.25em 0.9em;
  transition-duration: 0.2s;
}
/* individual mobile nav link style hover, active, focus  */
.nav__link:hover,
.nav__link:active,
.nav__link:focus {
  color: hsl(var(--CLR-PRIMARY-1));
  background-position: right;
  font-weight: 600;
}
@media screen and (min-width: 48em) {
  /* large screen site navigation list  style */
  .nav__list {
    position: static;
    display: flex;
    flex-direction: row;
  }
  /* large screen individual  nav link style  */
  .nav__link,
  .nav__link:any-link {
    background-image: none;
    font-size: clamp(1.6rem, 1.8vw, 1.8rem);
    font-size: clamp(1.6rem, 1.8dvw, 1.8rem);
    font-weight: 600;
    padding: 0.25em 0.5em;
  }
  /* large screen individual  nav link style hover, active, focus  */
  .nav__link:hover,
  .nav__link:active,
  .nav__link:focus {
    color: hsl(var(--CLR-PRIMARY-9));
  }
}
/* user navigation like cart profile search container */
.user__nav__action {
  display: flex;
  gap: 1.8rem;
  align-items: center;
}
@media screen and (min-width: 48em) {
  /* large screen user navigation like cart profile search container */
  .user__nav__action {
    display: flex;
    gap: clamp(1rem, 1.8vw, 3.8rem);
    gap: clamp(1rem, 1.8dvw, 3.8rem);
    align-items: center;
  }
}

/* user navigation like cart profile search icon container */
.btn__search,
.cart__icon__container,
.user__profile__icon {
  display: inline-block;
}
/* mobile user navigation like cart profile search icon  */
.btn__search svg,
.cart__icon__container svg,
.user__profile__icon svg {
  width: 3.2rem;
  height: 3.2rem;
  transition: var(--TRANSITION);
  transition-duration: 0.2s;
}
@media screen and (min-width: 48em) {
  /* large screen user navigation like cart profile search icon  */
  .btn__search svg,
  .cart__icon__container svg,
  .user__profile__icon svg {
    width: clamp(2.8rem, 2.5vw, 3.2rem);
    height: clamp(2.8rem, 2.5vw, 3.2rem);
  }
}
/* user navigation like cart profile search icon container hover, focus, active style */
.btn__search:hover svg,
.cart__icon__container:hover svg,
.user__profile__icon:hover svg {
  transform: scale(1.2);
  fill: hsl(var(--CLR-PRIMARY-9));
}

/* mobile site menu toggle container */
.toggle__menu {
  border: none;
  width: 4.4rem;
  height: 4.4rem;
  background-color: transparent;
}

@media screen and (min-width: 48em) {
  /* large screen site menu toggle container */
  .toggle__menu {
    display: none;
  }
}
/* toggle btn icon container */
.menu__icon {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* toggle btn icon  */
.menu__icon > div,
.menu__icon::after,
.menu__icon::before {
  content: "";
  width: 80%;
  height: 4px;
  background-color: hsl(var(--CLR-PRIMARY-10));
  border-radius: 3px;
  transition: var(--TRANSITION);
  transition-duration: 0.2s;
}

.menu__icon::after,
.menu__icon::before {
  position: absolute;
}
.menu__icon::after {
  top: 22%;
}
.menu__icon::before {
  bottom: 22%;
}

/* toggle btn icon hover  */
.menu__icon:hover > div,
.menu__icon:hover::after,
.menu__icon:hover::before {
  background-color: var(--CLR-WHITE);
}
.menu__icon:hover::after {
  top: 18%;
}
.menu__icon:hover::before {
  bottom: 18%;
}
/* nav bar open menu icon start here */
.nav__open .menu__icon > div {
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
.nav__open .menu__icon::after {
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}
.nav__open .menu__icon::before {
  bottom: 50%;
  transform: translateY(50%) rotate(-135deg);
}

.nav__open .menu__icon:hover > div,
.nav__open .menu__icon:hover::after,
.nav__open .menu__icon:hover::before {
  background-color: red;
}

/* site search dropdown btn */
.btn__search {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
/* user nav icon */
.search__icon,
.profile__icon,
.cart__icon {
  fill: hsl(var(--CLR-PRIMARY-10));
}
/* search dropdown dropdown */
.search__dropdown__container {
  position: relative;
}

/* search dropdown */
.search__dropdown {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: var(--TRANSITION);
  height: 3.5rem;
  border-radius: 4px;
  overflow: hidden;
}
/* search field */
.nav__search__field {
  width: 0;
  height: 100%;
  border: none;
  opacity: 0;
  pointer-events: none;
  outline: none;
  font-size: 1.4rem;
}
/* search action submit btn */
.search-submit-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0.2em 0.4em;
  align-items: center;
  height: 100%;
  transition: var(--TRANSITION);
}
/* open search bar dropdown */
.search__open .search__dropdown {
  top: 6rem;
  opacity: 1;
  background-color: hsl(var(--CLR-PRIMARY-8));
  right: -15rem;
  pointer-events: all;
}
@media screen and (min-width: 37em) {
  .search__open .search__dropdown {
    right: 0rem;
  }
}
/* open search dropdown  */
.search__open .search__dropdown:focus-within {
  box-shadow: 0 0 0 4px hsl(var(--CLR-PRIMARY-6));
}
/* open search bar btn */
.search__open .btn__search {
  position: relative;
  top: 6rem;
  right: -15rem;
  opacity: 0;
  pointer-events: none;
}
@media screen and (min-width: 37em) {
  .search__open .btn__search {
    right: 0rem;
  }
}
/* open search bar search field */
.search__open .nav__search__field {
  width: min(75vw, 25rem);
  width: min(75dvw, 25rem);
  border: black;
  opacity: 1;
  pointer-events: all;
  padding: 0.5em 0.6em;

  transition: var(--TRANSITION);
  transition-delay: 0.2s;
}
/* open search bar search action submit btn */
.search__open .search-submit-btn:hover {
  background-color: hsl(var(--CLR-PRIMARY-7));
}
/* closing search bar after opening it search btn */
.search__close .btn__search {
  top: 0;
  opacity: 1;
  right: 0;
  pointer-events: all;
  transition: var(--TRANSITION);
  transition-delay: 0.2s;
}
/* closing search bar after opening it search field */
.search__close .nav__search__field {
  width: 0;
  transition-delay: 0s;
  border: none;
  padding: 0;
  opacity: 0;
}
/* closing search bar after opening it search dropdown */
.search__close .search__dropdown {
  transition-delay: 0.2s;
  top: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
}
/* dropdown / default drop / reusing this dropdown in user navigation dropdown */
.dropdown__container,
.search__dropdown__container {
  position: relative;
}
/* dropdown adding pointer to the dropdown  as this is not the part of the dropdown box */
.dropdown__container::after {
  content: "";
  position: absolute;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
  border: 1rem solid transparent;
  border-bottom-color: hsl(var(--CLR-PRIMARY-10));

  /* hiding */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--TRANSITION);
  transition-timing-function: ease-in-out;
  /* border-bottom: 48px solid black; */
}
/* dropdown pointer hover animation  */
.dropdown__container:hover::after {
  top: 5rem;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
/* actual hidden dropdown */
.dropdown {
  position: absolute;
  width: 15rem;
  background-color: rgba(255, 255, 255, 0.4);
  right: 0;
  top: 9rem;
  backdrop-filter: blur(10px);
  /* border: 2px solid var(--CLR-PRIMARY-10); */
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.6),
    0 4px 4px 4px hsl(var(--CLR-PRIMARY-8));
  border-radius: 2px;
  /* hiding */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--TRANSITION);
  transition-timing-function: ease-in-out;
}
@media screen and (min-width: 37em) {
  .dropdown {
    width: 20rem;
  }
}
/* dropdown overlay body so we can actually move to the dropdown without using hover */
.dropdown::before {
  content: "";
  height: 3.5rem;
  position: absolute;
  top: -4rem;
  left: 50%;
  transform: translateX(-50%);
  /* background-color: red; */
  background-color: transparent;
  opacity: 0;
  height: 140%;
  width: 120%;
  z-index: -1;
}
/* actual shown dropdown */
.dropdown__container:hover .dropdown {
  opacity: 1;
  visibility: visible;
  pointer-events: all;

  top: 7rem;
}
/* dropdown menu item */
.dropdown__menu {
  display: flex;
  flex-direction: column;
}
/* adding top border on all dropdown item but not on the first one */
.dropdown__menu
  .dropdown__item:not(.dropdown__menu .dropdown__item:first-child)
  .dropdown__link,
.dropdown__menu
  .dropdown__item:not(.dropdown__menu .dropdown__item:first-child)
  .dropdown__link:any-link {
  border-top: 2px solid var(--CLR-PRIMARY-6);
}

/* dropdown link  */
.dropdown__link,
.dropdown__link:any-link {
  letter-spacing: 0.025em;
  color: hsl(var(--CLR-PRIMARY-3));
  font-size: clamp(1.6rem, 2.5vw, 1.8rem);
  font-size: clamp(1.6rem, 2.5dvw, 1.8rem);
  font-weight: 700;
  display: block;
  padding-block: 0.3em;
  padding-inline-start: 1em;
}
/* dropdown link hover,focus,active  */
.dropdown__link:hover,
.dropdown__link:focus,
.dropdown__link:active {
  background-color: rgba(255, 255, 255, 0.3);
}

/* cart dropdown actual dropdown */

.cart__dropdown > .dropdown {
  /* width: 35rem; */
  width: min(90vw, 35rem);
  right: -10.5rem;
}

@media screen and (min-width: 37em) {
  .cart__dropdown > .dropdown {
    right: 0;
  }
}
/* .cart dropdown container */
.cart__dropdown__container {
  padding: 1em;
}
/* cart total items in cart */
.dropdown__item__amount {
  /* width: 80%; */
  text-transform: capitalize;
  font-size: 1.6rem;
  margin-inline: auto;
  border-bottom: 2px solid rgba(0, 0, 0, 0.462);
  margin-block-end: 1rem;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.075em;
}
/* cart dropdown menu */
.cart__dropdown__menu {
  height: 25rem;
  /* height: 45rem; */
  overflow-y: auto;
}
/* adding bottom border to all menu item but not on the last one */
.cart__dropdown__item__container:not(
    .cart__dropdown__item__container:last-child
  )
  > .cart__dropdown__item {
  border-bottom: 1px solid var(--CLR-PRIMARY-5);
}
/* cart dropdown item */
.cart__dropdown__item {
  padding: 0.8em;
  position: relative;
  transition: var(--TRANSITION);
  cursor: pointer;
}

/* cart dropdown item hover */
.cart__dropdown__item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
/* cart dropdown item header */
.cart__dropdown__item__header {
  display: flex;
  gap: 0.8rem;
}
/* cart dropdown info */
.dropdown__product__info {
  width: 100%;
  padding-block: 0.255em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* cart dropdown title */
.dropdown__product__title {
  font-size: clamp(1.2rem, 5vw, 1.4rem);
  font-size: clamp(1.2rem, 5dvw, 1.4rem);
  letter-spacing: 0.07em;
}
/* cart dropdown item  img container*/
.cart__product__img__container {
  flex-shrink: 0;
}
/* cart dropdown img */
.cart__product__img {
  height: 5rem;
  width: auto;
  width: 5rem;
  object-fit: cover;
}
/* cart dropdown item details */
.dropdown__product__details {
  display: flex;
  font-size: clamp(1.2rem, 5vw, 1.4rem);
  font-size: clamp(1.2rem, 5dvw, 1.4rem);
  justify-content: space-between;
}
/* cart dropdown item remove cart item btn */
.dropdown__remove__cart__item {
  position: absolute;
  right: 0.025rem;
  top: 0.5rem;
  background-color: transparent;
  border: none;
}
/* cart dropdown item remove cart item icon */
.dropdown__remove__cart__item svg {
  width: 2rem;
  height: 2rem;
}
/* cart dropdown footer/ btn container */
.cart__dropdown__btn__container {
  display: flex;
  gap: 1rem;
  padding-block-start: 0.5em;
  margin-block-start: 0.125em;
  border-top: 2px solid rgba(0, 0, 0, 0.462);
}
/* cart dropdown  btn  */
.cart__dropdown__btn,
.cart__dropdown__btn:any-link {
  box-shadow: none;
  flex-basis: 50%;
  text-align: center;
  padding-block: 0.4em;
}
/* mobile nav background overlay*/
.nav__background__overlay {
  position: fixed;
  right: 100%;
  top: 0;
  z-index: 5;
  background-image: linear-gradient(
    145deg,
    hsl(var(--CLR-PRIMARY-5)),
    hsl(var(--CLR-PRIMARY-8))
  );
  width: 100%;
  height: 100vh;
  pointer-events: none;
  transition: 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
/* open nav mobile nav background overlay*/
.nav__open .nav__background__overlay {
  right: 0;
}
